/* Error: semicolons aren't allowed in the indented syntax.
 *   ,
 * 1 | @import "node_modules/bootstrap/scss/bootstrap.scss";
 *   |                                                     ^
 *   '
 *   c:\users\benjamin\documents\openclassrooms\projet5github\p5_oricono\front-end\sass\master.sass 1:53  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: semicolons aren't allowed in the indented syntax.\a   \2577 \a 1 \2502  @import \"node_modules/bootstrap/scss/bootstrap.scss\";\d\a   \2502                                                      ^\a   \2575 \a   c:\\users\\benjamin\\documents\\openclassrooms\\projet5github\\p5_oricono\\front-end\\sass\\master.sass 1:53  root stylesheet";
}
