@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

body {
  margin: 5px;
}

.img-container {
  width: 300px;
  height: 200px;
  text-align: center;
}
.store-img {
  transition: all 1s ease-in-out;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
}

.teddy:hover {
  transition: all 0.3s ease-in-out;
}

.flex-container > div {
  background-color: white;
  color: black;
  width: 310px;
  margin: 10%;
  text-align: center;
  line-height: normal;

}

.teddy {
  border: solid gray;
border-width: thick;
box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
vertical-align: middle;
}

.card {
  text-align: stretch;
}

.form-group {
  margin: 15px;
}
label {
  text-align: left;
}
