body {
  margin: 0px;
  padding: 0px;
}

.big-banner {
  background-image: url(../images/presentation_boutique_md.jpg);
  background-size: cover;
  height: 450px;
  width: 100%;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: indianred !important;
}

.card {
  height: 400px;
  width: 200px;
}
