/* Base structure HTML */
html,
body {
  height: 100%;
  background-color: #333;
  color: white;
}

h4 {
  padding: 5px;
}

h2 {
  color: #333!important;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

em {
  font-style: normal;
}

a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

a.btn-danger {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Barre de navigation */
a.nav-link {
font-size: 20px;
margin-right: 15px;
}

.img-responsive {
    margin-top: 30px;
  }


/* Carousel */
.first-slide {
  width: 100%;
}

.second-slide {
  width: 100%;
}

.third-slide {
  width: 100%;
}

/* seo */
.seo {
  margin-left: 3%;
  margin-right: 3%;
}

/* Corp du texte */
.card {
  color: #fff;
  text-align: center;
}

/* Timer */
.promotion {
  text-align: center;
}

.decompte div {
  border-radius: 5px;
  background-color: black;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.decompte span {
  color: purple;
}

/* Articles */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container {
  width: 290px;
  height: 200px;
  text-align: center;
}

.flex-container>div {
  background-color: white;
  color: black;
  width: 300px;
  margin: 10%;
  padding: 5px;
  text-align: center;
  line-height: normal;
}

.teddy {
  box-shadow: 15px 15px 6px -6px #777;
  vertical-align: middle;
}

.teddy:hover {
  transition: all 0.3s ease-in-out;
}

.tedProduit {
  box-shadow: 15px 15px 6px -6px #777;
  vertical-align: middle;
}

.tedProduit:hover {
  transition: all 0.3s ease-in-out;
}

#tedArticle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#tedArticle>div {
  background-color: white;
  color: black;
  width: 300px;
  margin: 10%;
  padding: 5px;
  text-align: center;
  line-height: normal;
}

.inner {
  padding: 30px;
}

ul {
  list-style-type: none;
}

/* Panier */
#messPanier {
  text-align: center;
  font-size: 24px;
  margin-top: 100px;
  margin-bottom: 100px;
}

#ssTotal {
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* tableau panier */
table {
  margin-left: 15px;
  margin-right: 15px;
}

td button {
  font-size: 14px;
  color: black;
  background: transparent;
  border: none !important;
}

button i {
  color: white;
}

th {
  font-size: 20px;
}

td {
  padding-top: 5px;
}

/* formulaire */
.form-group {
  margin-left: 15px;
  margin-right: 15px;
}

/* confirmation */
.commande {
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: purple;
  align-items: center;
}

#clear {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* personalisation du bouton */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.add-to-cart {
  border: solid;
  border-color: purple;
  line-height: 4.5;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 24px;
}

.add-to-prod {
  border: 0;
  line-height: 4.5;
  padding: 10px;
  background-color: purple;
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 24px;
}

a.add-to-cart {
  color: black;
  text-decoration: none;
}

.img-responsive .centree {
  margin: 0 auto;
}

.messageErreur {
  margin-top: 20px;
}

.btnSubmit {
  width: 300px;
  height: 40px;
  align-items: center;
  border-radius: 5px;
  font-size: 18px;
  background-color: purple;
}

.btnSubmit:hover {
  background-color: purple;
  color: #fff;
  font-size: 22px;
  transition: 0.3s ease-in-out;
}

.btn {
  background-color: purple!important;
  border-color: purple!important;
}

.copy {
  text-align: center;
  color: #fff;
}

/* Footer */
footer {
  padding: 10px;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  font-size: 18px;
}

.company-links ul {
  list-style: none;
  text-align: left;
}

.paiement-links {
  margin-left: 20px;
}

.paiement-links i {
  color: lightgray;
  margin-left: 10px;
}

ul.text-white {
  padding-left: 10px;
}

/* ajout d'animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Affichage responsive */
@media (min-width: 320px) {
  .img-responsive {
      align-items: center;
    }

  .container-fluid {
    padding-right: 0px!important;
  }
}

@media (min-width: 768px) {
  .cover-container {
    width: 100%;
  }

  #navbarContent {
    float: inherit;
  }

  .navbar-nav>li {
      float: right;
  }

}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}
